<header class="header1">
  <div class="icon-container">
    <img
      class="briefcase-medical-icon1 button-cursor"
      alt=""
      src="assets/img/briefcase-medical1.svg"
      (click)="navigateToHome()"
    />
  </div>

  <div class="profile-menu1">
    <button class="profile-button1">
      <div class="background1"></div>
      <div class="person">
        <img class="path-icon1" alt="" src="assets/img/path1.svg" />
      </div>
    </button>
    <div class="btn-group">
      <button type="button" class="expand-more1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button">My Info</button>
        <button class="dropdown-item" type="button">Options</button>
        <div class="dropdown-divider"></div>
        <button (click)="exitToLogin()" class="dropdown-item" type="button">Log Out</button>
      </div>
    </div>
  </div>
</header>