<header class="header1">
  <img
    class="briefcase-medical-icon1 button-cursor"
    alt=""
    src="assets/img/briefcase-medical1.svg"
    (click)="navigateToHome()"
  />

  <div class="profile-menu1">
    <button class="profile-button1">
      <div class="background1"></div>
      <div class="person">
        <img class="path-icon1" alt="" src="assets/img/path1.svg" />
      </div>
    </button>
    <button class="expand-more1" (click)="exitToLogin()">
      <img class="path-icon2" alt="" src="assets/img/path.svg" />
    </button>
  </div>
</header>