<div>
    <h1 class="welcome-back-john">Welcome back, John!</h1>
    <ul class="alert">
      <img
        class="notification-important-icon"
        alt=""
        src="assets/img/notificationimportant.svg"
      />

      <div class="content2">
        <b class="title">New patients</b>
        <div class="content3">You’ve got a new patient Lisa Andrews.</div>
      </div>
      <button class="close">
        <img class="vector-icon" alt="" src="assets/img/vector.svg" />
      </button>
    </ul>
    <ul class="alert">
      <img
        class="notification-important-icon"
        alt=""
        src="assets/img/notificationimportant.svg"
      />

      <div class="content2">
        <b class="title">New analyses</b>
        <div class="content3">4 new analyses have been performed.</div>
      </div>
      <button class="close">
        <img class="vector-icon" alt="" src="assets/img/vector.svg" />
      </button>
    </ul>
    <ul class="alert">
      <img
        class="notification-important-icon"
        alt=""
        src="assets/img/notificationimportant.svg"
      />

      <div class="content2">
        <b class="title">New changes</b>
        <div class="content3">Your schedule has been changed.</div>
      </div>
      <button class="close">
        <img class="vector-icon" alt="" src="assets/img/vector.svg" />
      </button>
    </ul>
</div>