<div class="login">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    />
    <div class="dialog">
      <h1 class="login1">Login</h1>
      <div class="input">
        <div class="label">Username</div>
        <input class="field" type="text" />
      </div>
      <div class="input">
        <div class="label">Password</div>
        <input class="field1" type="password" [type]="showPassword ? 'text' : 'password'" />
        <div class="toggle-password">
            <img 
                (click)="showPassword=!showPassword"
                [src]="showPassword ? 'assets/img/eye-off.svg' : 'assets/img/eye.svg'"
            />
        </div>
      </div>
      <button (click)="login()" class="action">
        <div class="label2">Enter</div>
        <img
          class="chevron-right-icon"
          alt=""
          src="assets/img/chevronright.svg"
        />
      </button>
      <button class="button">
        <a class="label3">Forgot Password?</a>
      </button>
    </div>
</div>