<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
<div class="view-analyses">
    <app-header></app-header>

    <!-- bread chramps -->
    <div class="container">
        <button class="search-bar25">
            <a class="analyses5">Analyses</a>
            <div class="div9">/</div>
            <a class="analyses5">Blood Analyses </a>
            <div class="div9">/</div>
            <a class="analyses5">68000000005</a>
        </button>
    </div>

    <!-- loading pop-up -->
    <app-loading-popup *ngIf="isLoading"></app-loading-popup>

    <div [class]="shouldCollapse ? 'body wider': 'body'">
        <div class="container">
            <div class="row justify-content-end">
                <button class="action-button" (click)="back()">
                    <img
                    [class]="shouldCollapse ? 'add-square-icon centered' : 'add-square-icon'"
                    alt=""
                    src="assets/img/arrow-left.svg"
                    />
                    <div *ngIf="!shouldCollapse" class="search24">Back</div>
                </button>
            </div>
            <div class="row justify-content-end">
                <button class="done-button" (click)="readCurrentProviderData()">
                    <img 
                        [class]="shouldCollapse ? 'add-square-icon centered' : 'add-square-icon'"
                        alt=""
                        src="assets/img/save.svg"
                    />
                    <div *ngIf="!shouldCollapse" class="">Read data</div>
                </button>
            </div>
        </div>

        <div [class]="shouldCollapse ? 'col' : 'row'">
            <!-- Patient name -->
            <div [class]="shouldCollapse ? 'input20 fullwidth': 'input20'">
                <div class="base22">
                    <div class="container40">
                        <input disabled class="form-field22" type="text" [(ngModel)]="userName"/>
        
                        <img
                            class="icon-outside22"
                            alt=""
                            src="assets/img/icon-outside.svg"
                        />
        
                        <label class="label35">
                        <div class="text68">Name</div>
                        </label>
                    </div>
                    <div class="hint-error22">
                        <div class="text68">Hint or Error Message</div>
                    </div>
                </div>
            </div>
            <!-- Date -->
            <div [class]="shouldCollapse ? 'input20 fullwidth': 'input20'">
                <div class="base22">
                <div class="container40">
                    <input disabled class="form-field22" type="text" [(ngModel)]="date"/>
    
                    <img
                    class="icon-outside22"
                    alt=""
                    src="assets/img/icon-outside.svg"
                    />
    
                    <div class="label35">
                        <div class="text68">Date</div>
                    </div>
                </div>
                <div class="hint-error22">
                    <div class="text68">Hint or Error Message</div>
                </div>
                </div>
            </div>
        </div>

        <div class="container space">
            <div class="frame-div">
                <div class="search-bar26">
                    <img
                        class="add-square-icon"
                        alt=""
                        src="assets/img/iconsearch.svg"
                    />

                    <div class="search-container">
                        <input
                        class="search22"
                        type="text"
                        placeholder="Patient name"
                        />
                    </div>
                </div>
            </div>
            <div class="search-bar-parent1">
                <button class="search-bar28">
                <img
                    [class]="shouldCollapse ? 'add-square-icon centered' : 'add-square-icon'"
                    alt=""
                    src="assets/img/filter1.svg"
                />

                <div *ngIf="!shouldCollapse" class="search24">Filter</div>
                </button>
                <button class="search-bar28">
                <img
                    [class]="shouldCollapse ? 'add-square-icon centered' : 'add-square-icon'"
                    alt=""
                    src="assets/img/arrow-sort-down-lines1.svg"
                />

                <div *ngIf="!shouldCollapse" class="search24">Sort</div>
                </button>
            </div>
        </div>

        <section class="list1">
            <div 
                *ngFor="let provider of supportedDataProviders" 
                (click)="setCurrentProvider(provider.id)" 
                [class]="provider.id == currentProviderId ? 'table-row selected-row' : 'table-row'"
            >
              <div [class]="shouldCollapse ? 'scaled placeholder' : 'placeholder'">
                <b class="text31">{{provider.name}}</b>
              </div>
              <div [class]="shouldCollapse ? 'scaled placeholder1' : 'placeholder1'">
                <div class="text32">{{provider.type}}</div>
              </div>
              <div [class]="shouldCollapse ? 'scaled placeholder2' : 'placeholder2'">
                <div class="text32">{{provider.status}}</div>
              </div>
              <button [class]="shouldCollapse ? 'scaled search-bar13' : 'search-bar13'">
                <img
                  [class]="shouldCollapse ? 'save-icon centered' : 'save-icon'"
                  alt=""
                  src="assets/img/arrow-counterclockwise.svg"
                />
    
                <div *ngIf="!shouldCollapse" class="search5">Refresh</div>
              </button>
            </div>
            
        </section>
        
    </div>
</div>
