<div>
    <h1 class="patients2">Patients</h1>
    <div class="container">
      <div class="search-bar">
        <img class="patient-icon" alt="" src="assets/img/iconsearch.svg" />

        <div class="search-wrapper">
          <input class="search" type="text" placeholder="Patient name" />
        </div>
      </div>
      <div class="search-bar-parent">
        <button class="search-bar1">
          <img class="patient-icon" alt="" src="assets/img/filter.svg" />

          <div class="search1">Filter</div>
        </button>
        <button class="search-bar1">
          <img
            class="patient-icon"
            alt=""
            src="assets/img/arrow-sort-down-lines.svg"
          />

          <div class="search1">Sort</div>
        </button>
      </div>
    </div>
    <div class="list">
      <div class="patient">
        <div class="container1">
          <img
            class="container-child"
            alt=""
            src="assets/img/ellipse-1@2x.png"
          />

          <b class="john-doe">John Doe</b>
        </div>
        <div class="container1">
          <button class="button1">
            <div class="label4">View card</div>
          </button>
          <button class="round-button">
            <img class="patient-icon" alt="" src="assets/img/person1.svg" />
          </button>
        </div>
      </div>
      <div class="patient">
        <div class="container1">
          <img
            class="container-child"
            alt=""
            src="assets/img/ellipse-11@2x.png"
          />

          <b class="john-doe">John Doe</b>
        </div>
        <div class="container1">
          <button class="button1">
            <div class="label4">View card</div>
          </button>
          <div class="round-button1">
            <img class="patient-icon" alt="" src="assets/img/person1.svg" />
          </div>
        </div>
      </div>
      <div class="patient">
        <div class="container1">
          <img
            class="container-child"
            alt=""
            src="assets/img/ellipse-12@2x.png"
          />

          <b class="john-doe">John Doe</b>
        </div>
        <div class="container1">
          <button class="button1">
            <div class="label4">View card</div>
          </button>
          <div class="round-button1">
            <img class="patient-icon" alt="" src="assets/img/person1.svg" />
          </div>
        </div>
      </div>
      <div class="patient">
        <div class="container1">
          <img
            class="container-child"
            alt=""
            src="assets/img/ellipse-13@2x.png"
          />

          <b class="john-doe">John Doe</b>
        </div>
        <div class="container1">
          <button class="button1">
            <div class="label4">View card</div>
          </button>
          <div class="round-button1">
            <img class="patient-icon" alt="" src="assets/img/person1.svg" />
          </div>
        </div>
      </div>
      <div class="patient">
        <div class="container1">
          <img
            class="container-child"
            alt=""
            src="assets/img/ellipse-14@2x.png"
          />

          <b class="john-doe">John Doe</b>
        </div>
        <div class="container1">
          <button class="button1">
            <div class="label4">View card</div>
          </button>
          <div class="round-button1">
            <img class="patient-icon" alt="" src="assets/img/person1.svg" />
          </div>
        </div>
      </div>
      <div class="patient">
        <div class="container1">
          <img
            class="container-child"
            alt=""
            src="assets/img/ellipse-15@2x.png"
          />

          <b class="john-doe">John Doe</b>
        </div>
        <div class="container1">
          <button class="button1">
            <div class="label4">View card</div>
          </button>
          <div class="round-button1">
            <img class="patient-icon" alt="" src="assets/img/person1.svg" />
          </div>
        </div>
      </div>
      <div class="patient">
        <div class="container1">
          <img
            class="container-child"
            alt=""
            src="assets/img/ellipse-16@2x.png"
          />

          <b class="john-doe">John Doe</b>
        </div>
        <div class="container1">
          <button class="button1">
            <div class="label4">View card</div>
          </button>
          <div class="round-button1">
            <img class="patient-icon" alt="" src="assets/img/person1.svg" />
          </div>
        </div>
      </div>
      <div class="patient">
        <div class="container1">
          <img
            class="container-child"
            alt=""
            src="assets/img/ellipse-15@2x.png"
          />

          <b class="john-doe">John Doe</b>
        </div>
        <div class="container1">
          <button class="button1">
            <div class="label4">View card</div>
          </button>
          <div class="round-button1">
            <img class="patient-icon" alt="" src="assets/img/person1.svg" />
          </div>
        </div>
      </div>
      <div class="patient">
        <div class="container1">
          <img
            class="container-child"
            alt=""
            src="assets/img/ellipse-16@2x.png"
          />

          <b class="john-doe">John Doe</b>
        </div>
        <div class="container1">
          <button class="button1">
            <div class="label4">View card</div>
          </button>
          <div class="round-button1">
            <img class="patient-icon" alt="" src="assets/img/person1.svg" />
          </div>
        </div>
      </div>
    </div>
</div>