.briefcase-medical-icon {
    position: relative;
    width: 56px;
    height: 56px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--gray-2);
  }
  .person-icon {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
  }
  .profile-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 32px;
    height: 32px;
  }
  .path-icon {
    position: absolute;
    height: 30.83%;
    width: 50%;
    top: 35.83%;
    right: 25%;
    bottom: 33.33%;
    left: 25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .expand-more {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 24px;
    height: 24px;
  }
  .profile-menu {
    width: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header,
  .patient-icon,
  .profile-menu {
    overflow: hidden;
    flex-shrink: 0;
  }
  .header {
    background-color: var(--blue-2);
    width: 1280px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-base) 0 var(--padding-21xl);
    box-sizing: border-box;
  }
  .patient-icon {
    position: relative;
    width: 24px;
    height: 24px;
  }
  .patients1 {
    flex: 1;
    position: relative;
    font-size: var(--link-size);
    font-weight: 300;
    font-family: var(--link);
    color: var(--blue-2);
    text-align: left;
  }
  .list-item {
    cursor: pointer;
    border: 0;
    padding: 0 var(--padding-5xs);
    background-color: var(--white);
    align-self: stretch;
    border-radius: var(--br-9xs);
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .analyses {
    flex: 1;
    position: relative;
    font-size: var(--link-size);
    font-weight: 300;
    font-family: var(--link);
    color: var(--gray-6);
    text-align: left;
  }
  .list-item1,
  .menu {
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .list-item1 {
    cursor: pointer;
    border: 0;
    padding: 0 var(--padding-5xs);
    background-color: transparent;
    align-self: stretch;
    height: 48px;
    flex-direction: row;
    align-items: center;
  }
  .menu {
    background-color: var(--gray-2);
    width: 240px;
    height: 789px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-5xs) var(--padding-base) var(--padding-9xs);
  }
  .patients2,
  .search {
    align-self: stretch;
    position: relative;
  }
  .patients2 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--header-1-size);
    font-weight: 700;
    font-family: inherit;
  }

  
  .search {
    border: 0;
    font-family: var(--link);
    font-size: var(--font-size-sm);
    background-color: transparent;
    flex: 1;
    line-height: 125%;
    color: var(--gray-1);
    text-align: left;
    display: flex;
    align-items: center;
    mix-blend-mode: normal;
  }
  .search-bar,
  .search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .search-wrapper {
    align-self: stretch;
    flex: 1;
    align-items: flex-start;
  }
  .search-bar {
    border-radius: var(--br-5xs);
    background-color: var(--gray-6);
    width: 24vw;
    min-width: 160px;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    padding: var(--padding-5xs);
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .search1 {
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 125%;
    font-family: var(--link);
    color: var(--gray-1);
    text-align: left;
    mix-blend-mode: normal;
  }
  .search-bar1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs);
    background-color: var(--gray-6);
    border-radius: var(--br-5xs);
    width: 8vw;
    min-width: 40px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .container,
  .search-bar-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-base);
  }
  .search-bar-parent {
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .container {
    justify-content: space-between;
    margin: 16px 0px;
    padding: var(--padding-5xs);
}

  .container-child {
    border-radius: 50%;
    width: 6vw;
    min-width: 40px;
    height: 6vw;
    min-height: 40px;
    object-fit: cover;
  }
  .container-child {
    position: relative;
  }
  .container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .label4 {
    position: relative;
    font-size: var(--link-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--link);
    color: var(--white);
    text-align: center;
  }
  .button1,
  .round-button {
    cursor: pointer;
    border: 0;
    border-radius: var(--br-9xs);
    height: 48px;
    overflow: hidden;
    justify-content: center;
  }
  .button1 {
    padding: 0 var(--padding-5xl);
    background-color: var(--blue-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }

  .button1:hover {
    background-color: var(--primary-btn-hover);
  }
  .button1:active {
    background-color: var(--primary-btn-clicked);
  }

  .round-button {
    padding: var(--padding-base);
    background-color: var(--gray-5);
    width: 48px;
    flex-shrink: 0;
  }
  .patient,
  .round-button,
  .round-button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }
  .patient {
    border-bottom: 1px solid var(--gray-5);
    width: 80vw;
    justify-content: space-between;
    padding: var(--padding-xs);
  }
  .round-button1 {
    border-radius: var(--br-9xs);
    background-color: var(--gray-5);
    width: 48px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    justify-content: center;
    padding: var(--padding-base);
  }
  .ellipse-div {
    position: relative;
    border-radius: 50%;
    background-color: #c14848;
    width: 64px;
    height: 64px;
  }
  .content,
  .list {
    height: 71vh;
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: column;
  }
  .list::-webkit-scrollbar{
    display: none;
  }

  .list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--link-size);
    color: var(--gray-1);
  }
  .content {
    align-self: stretch;
    flex: 1;
    padding: var(--padding-13xl);
    gap: var(--gap-base);
  }
  .body,
  .content,
  .patients {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .body {
    align-self: stretch;
    flex-direction: row;
  }
  .patients {
    position: relative;
    background-color: var(--white);
    width: 100%;
    height: 853px;
    overflow: hidden;
    flex-direction: column;
    text-align: left;
    font-size: var(--header-1-size);
    color: var(--gray-2);
    font-family: var(--link);
  }
  